.btn {
    border-radius: 30px;
    padding: 16px 32px;

    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #f1f1f1;

    transition: background 0.3s ease-in-out;

    @media(max-width: $breakpoint768) {
        padding: 16px 28px;
    }
    @media(max-width: $breakpoint480) {
        padding: 12px 20px;
        font-size: 16px;
    }

    &--arrow {
        display: flex;
        align-items: center;
        gap: 30px;
        background: $dark-gray;
        flex-shrink: 0;

        transition: background 0.3s ease-in-out;

        & svg {
            transition: all 0.3s ease-in-out;
        }

        @media(max-width: $breakpoint480) {
            gap: 16px;
        }

        &:hover {
            background-color: #323232;

            & svg {
                transform: translateX(3px);
            }
        }
    }
}