.btn-back {
    &__wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__link {
        border-radius: 5px;
        background-color: $dark-gray;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}