.catalog-swiper-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 16px;
    padding: 252px 27px 25px 27px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(205, 205, 205, .3);
    height: 100%;
    transition: box-shadow .3s ease, 
    border 0.3s ease-in-out,
    background-size 0.4s ease-in-out;

    background-image: var(--preview);
    background-repeat: no-repeat;
    background-size: auto 220px;
    background-position: 50% 15px;

    @media(max-width: $breakpoint1024) {
        background-size: auto 150px;
        padding: 180px 20px 18px 20px;
        border-radius: 12px;
    }
    @media(max-width: $breakpoint600) {
        background-size: auto 125px;
        padding: 150px 15px 12px 15px;
    }
    @media(max-width: $breakpoint480) {
        background-size: auto 65px;
        padding: 90px 15px 12px 15px;
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        color: $dark-gray;

        @media(max-width: $breakpoint1024) {
            font-size: 14px;
        }
        @media(max-width: $breakpoint600) {
            font-size: 16px;
        }
        @media(max-width: $breakpoint480) {
            font-size: 13px;
        }
    }

    &:hover {
        box-shadow: none;
        background-size: auto 210px;

        @media(max-width: $breakpoint1024) {
            background-size: auto 140px;
        }
        @media(max-width: $breakpoint600) {
            background-size: auto 115px;
        }
        @media(max-width: $breakpoint480) {
            background-size: auto 70px;
        }
    }
}