.product-detail {

    @media(max-width: $breakpoint768) {
        margin-top: 24px;
    }

    &__top {

        &--desktop {
            @media(max-width: $breakpoint992) {
                display: none;
            }
        }

        &--mobile {
            display: none;

            @media(max-width: $breakpoint992) {
                display: block;
            }
        }
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        @media(max-width: $breakpoint992) {
            grid-template-columns: 1fr;
        }
        @media(max-width: $breakpoint600) {

        }
        @media(max-width: $breakpoint375) {
            
            gap: 16px;
        }
    }
    &__slider {
        height: fit-content;
        
        width: 100%;
        max-width: 100%;
        max-height: 100vh;
        min-height: 0;
        min-width: 0;
        

        @media(max-width: $breakpoint992) {
            max-width: 780px;
            gap: 10px;
            min-width: 0;
        }
        @media(max-width: $breakpoint600) {
            
        }
        &-wrapper {

            
            @media(max-width: $breakpoint992) {
                
            }
            @media(max-width: $breakpoint600) {
                
            }
        }
    }
    &__info {
        display: flex;
        flex-direction: column;

        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
        background: rgba(217, 217, 217, 0.4);
        border-radius: 30px;
        padding: 40px 52px;

        container: product-info/inline-size;

        @container product-info (max-width: 450px) {
            & .product-hits__item {
                flex-direction: column;
                align-items: start;
            }
        }

        @media(max-width: $breakpoint1180) {
            padding: 30px 40px;
        }
        @media(max-width: $breakpoint992) {
            padding: 24px;
            width: 100%;
        }
        @media(max-width: $breakpoint480) {
            padding: 22px 10px;
            border-radius: 15px;
        }
    
        &-name {
            font-weight: 700;
            font-size: 32px;
            line-height: 120%;
            color: #323232;
            
            @media(max-width: $breakpoint1248) {
                font-size: 28px;
            }

            &--desktop {
                margin-bottom: 14px;
            } 
            &--mobile {
                @media(max-width: $breakpoint768) {
                    font-size: 32px;
                    margin-bottom: 14px;
                }
                @media(max-width: $breakpoint480) {
                    font-size: 27px;
                    margin-bottom: 8px;
                }
                @media(max-width: $breakpoint375) {
                    font-size: 22px;
                }
            }
        }

        &-bottom {
            margin-block-start: auto;

            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 12px;

            @media(max-width: $breakpoint600) {
                gap: 16px;
            }
        }
        &-price {
            font-weight: 700;
            font-size: 24px;
            color: $red;
            line-height: 22px;

            &-old {
                font-size: 20px;
                text-decoration: line-through;
                color: $dark-gray;
                font-weight: 700;
            }

            &-wrapper {
                display: flex;
                flex-wrap: wrap;
                gap: 6px;
            }
        }
        &-btn { 
            background: $red;

            @media(max-width: $breakpoint992) {
                padding: 15px 24px;
            }
            @media(max-width: $breakpoint480) {
                font-size: 16px;
                padding: 10px 20px;
                border-radius: 17px;
            }

            &:hover {
                background: #be1a26;
            }
        }
    }
}