.product-info {

    &__description {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        &:not(:has(.product-info__description-img)) {
            & .product-info__description-text {
                max-width: 100%;
            }
        }

        &-text {
            max-width: 950px;
            font-weight: 500;
            font-size: 20px;
            color: $dark-gray;
        }
        &-img {
            flex-shrink: 0;
            max-width: 350px;
        }
    }

    &__characteristics {

        &-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 20px;
            row-gap: 10px;
        }
        &-item {
            border-radius: 10px;
            padding: 10px 15px;
    
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            // &:nth-of-type(even) {
            //     background: rgba(154, 154, 152, 0.22);
            // }

            &:nth-child(4n-1),
            &:nth-child(4n) {
                background: rgba(154, 154, 152, 0.22); // или ваш нужный цвет
            }
    
            &-text {
                font-weight: 500;
                font-size: 20px;
                line-height: 130%;
                color: $dark-gray;
    
                @media(max-width: $breakpoint600) {
                    font-size: 16px;
                }
            }
            &-value {
                font-weight: 700;
                font-size: 20px;
                line-height: 130%;
                text-align: right;
                color: $dark-gray;
    
                @media(max-width: $breakpoint600) {
                    font-size: 16px;
                }
            }
        }
    }
}