.services-tabs {
    display: flex;
    gap: 20px;

    @media(max-width: $breakpoint768) {
        flex-direction: column;
    }

    &__list {
        min-width: 270px;
        max-width: 460px;
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 10px;  

        @media(max-width: $breakpoint768) {
            max-width: 100%;
            min-width: 100%;
        }

        & li {
            display: flex;
            justify-content: center;
            border-radius: 20px;
            padding: 16px;
            background: rgba(205, 205, 205, 0.3);
            width: 100%;
            cursor: pointer;
            transition: background 0.3s ease;

            &:hover {
                background: rgba(205, 205, 205, 0.6);
            }

            & span {
                max-width: 286px;
                font-weight: 500;
                font-size: 20px;
                text-align: center;
                color: $dark-gray;

                @media(max-width: $breakpoint480) {
                    font-size: 16px;
                }
            }

            &.active-tab {
                box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
                background: rgba(205, 205, 205, 0.6);

                & span {
                    font-weight: 600;
                }
            }
        }
    }

    &__wrapper {
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
        background: rgba(205, 205, 205, 0.6);
        border-radius: 20px;
        padding: 30px 100px 30px 35px;
        flex-grow: 1;

        @media(max-width: $breakpoint1024) {
            padding: 26px 28px;
        }
        @media(max-width: $breakpoint480) {
            padding: 26px 20px;
        }
    }
    &__title {
        font-weight: 600;
        font-size: 24px;
        color: $dark-gray;

        @media(max-width: $breakpoint480) {
            font-size: 18px;
        }
    }
    &__text {
        font-weight: 500;
        font-size: 20px;
        color: $dark-gray;
        margin: 22px 0;

        @media(max-width: $breakpoint480) {
            font-size: 16px;
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 26px;
        row-gap: 12px;
    }
    &__btn {
        border-radius: 30px;
        padding: 14px 28px;
        background: $dark-gray;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        color: #fff;

        transition: background 0.3s ease-in-out;

        @media(max-width: $breakpoint480) {
            font-size: 16px;
            padding: 14px 28px;
        }
        @media(max-width: $breakpoint480) {
            padding: 10px 20px;
        }

        &:hover {
            background-color: #323232;
        }
    }
    &__label {
        font-weight: 500;
        font-size: 16px;
        color: $dark-gray;
    }
}