.swiper-product {

    &__slide {
        display: flex;
        justify-content: center;
        align-items: center;

        &-link {
            display: flex;
        }
        &-img {
            max-height: 340px;
            object-fit: contain;
            width: 100%;
            max-width: 100%;
        }
    }
}