@import url("../assets/fonts/stylesheet.css");

html,
body {
    font-family: $font-family;
    scroll-behavior: smooth;
    background: #f1f1f1;
}

// Заголовки
h1 {
    font-family: $second-family;
    font-weight: 400;
    font-size: 40px;
    color: $dark-gray;
}
h2 {
    font-family: $second-family;
    font-weight: 400;
    font-size: 40px;
    color: $dark-gray;

    @media(max-width: $breakpoint768) {
        font-size: 40px;
    }
    @media(max-width: $breakpoint480) {
        font-size: 32px;
        padding-left: 28px;
    }
    @media(max-width: $breakpoint375) {
        font-size: 25px;
        padding-left: 24px;
    }
}

// База
.container {
    max-width: $container-width;
    width: 100%;
    margin: 0 auto;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__inner {
        margin-top: 48px;

        @media(max-width: $breakpoint768) {
            margin-top: 28px;
        }
    }

    @media(max-width: $container-width) {
        padding: 0 $padding-md;
    }
    @media(max-width: $breakpoint768) {
        padding: 0 $padding-sm;
    }
}

.left-padding {
    padding-left: calc((100vw - $section-top) / 2);

    @media(max-width: $container-width) {
        padding-left: $padding-md;
    }
    @media(max-width: $breakpoint768) {
        padding-left: $padding-sm;
    }
}

.no-scroll {
    overflow: hidden;
}