// color
$main-color: #D1212E;
$accent-color: #D4E1BD;
$secondary-color: #11332A; 
$main-text: #3A3737;

$red: #D1212E;
$gray: #CDCDCD;
$dark-gray: #404040;

// breakpoint 
$breakpoint1440: 1440 + px;
$breakpoint1280: 1280 + px;
$breakpoint1248: 1248 + px;
$breakpoint1024: 1024 + px;
$breakpoint992: 992 + px;
$breakpoint768: 768 + px;
$breakpoint600: 600 + px;
$breakpoint480: 480 + px;
$breakpoint375: 375 + px;

// font-family
$font-family: 'Montserrat', sans-serif;
$second-family: 'Unbounded', sans-serif;

// border-radius
$main-radius: 20px;

// container
$container-width: 1440px;
$section-top: 100px;
$padding-md: 24px;
$padding-sm: 16px;
